<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>  
    <%= render 'devise/shared/navgation' %>
  	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>
    <div class="container" >  
      <%= yield %>  
    </div>
  </body>
</html>
