<!DOCTYPE html>
<html>
  <head>
    <title>Rate Shelf</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>  
    <%= render 'devise/shared/navgation' %>
  	<main>
      <p class="notice"><%= notice %></p>
    	<p class="alert"><%= alert %></p>
      <%= yield %>  
    </main>  
  </body>
</html>
